<div class="book_hover text-center">
	<h3>{{title}}</h3>
	<h4>{{author}}</h4>
	<p class="glyphicon glyphicon-plus"></p>
</div>
<img class="thumbnail" src="http://img2.imagesbn.com/p/{{isbn}}_p0_v3_s260x420.JPG">