<ul>
	<li>
		<img class="modal_book_cover" src="{{img_url}}">
	</li>
	<li>
		<h4>{{title}}</h4>
		<h5 class="author modal_p">{{author.username}}</h5>
		<p>{{content}}</p>
		<div class="tags_container">
			<% _.each(collection, function(val, i) { %>
				<p class="tag"><%= tags[i].name %></p>
			<% }) %>
		});
		</div>
	</li>
</ul>
