<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="popup">
		<div id="popup_bkgd">
		</div>
		<div id="popup_book">
		</div>
	</div>
	<header>
		<h1><a>The Common Core Booklist</a></h1>
		<div id="menu">
			<ul id="tags_list">
				<li id="grades">
					<h5>grades:</h5><br>
				</li>
				<li id="categories">
					<h5>categories:</h5><br>
				</li>
			</ul>
		</div>
		<div id="open_menu">
			<div id="open_text">
				show more
			</div>
		</div>
	</header>
	
	<div id="container">
		<div id="columns">
		</div>
	</div>
	<div id="adams_logo"><a href="http://www.adamsbook.com">
		<p>powered by</p>
		<img src="http://www.adamsbook.com/images/adams_logo_large.png">
	<a></div>
</body>
</html>