<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<<<<<<< HEAD
  <title>Great Classroom Literature</title>
=======
>>>>>>> 584c33e7348811fdd35e0f54a17cb2e374bda9ba
</head>
<body>
	<div id="popup">
		<div id="popup_book">
		</div>
		<div id="popup_bkgd">
		</div>
	</div>
	<header>
<<<<<<< HEAD
		<div id="adams_header">
			<div id="adams_logo"><a href="http://www.adamsbook.com" target="_blank">
				<p>powered by:</p>
				<img src="http://www.adamsbook.com/images/adams_logo_large.png"><a>
			</div>
			<ul>
				<li>See a book you like? Save 35% on 10+ copies. </li>
				<li>Call: (800) 221-0909 | Email: <a href="mailto:orders@adamsbook.com" style="text-decoration: underline">orders@adamsbook.com</a></li>
			</ul>
			<span class="clearfix"></span>
		</div>
		<h1><a>Great Classroom Literature</a></h1>
		<h2> Enjoy this interactive guide of over 200 titles. Sort by grade level or subject to create connections between courses. Click a title to get more information on how it might fit your curriculum.</h2>
=======
		<h1><a>Common Core</a></h1>
>>>>>>> 584c33e7348811fdd35e0f54a17cb2e374bda9ba
		<div id="menu">
			<ul id="tags_list">
				<li id="grades">
					<h5>grades:</h5><br>
				</li>
				<li id="categories">
					<h5>categories:</h5><br>
				</li>
			</ul>
		</div>
		<div id="open_menu">
			show more
		</div>
	</header>
	
	<div id="container">
		
		<div id="columns">
		</div>
	</div>
</body>
</html>