<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <title>Common Core Booklist</title>
</head>
<body>
	<div class="container-fluid">
		<header class="row">
			<div id="adams_header" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div id="adams_logo">
					<a href="http://www.adamsbook.com" target="_blank">
						<p>powered by:</p>
						<img src="http://www.adamsbook.com/images/adams_logo_large.png">
					<a>
				</div>
				<ul>
					<li>See a book you like? Save 35% on 10+ copies. </li>
					<li>Call: (800) 221-0909 | Email: <a href="mailto:orders@adamsbook.com" style="text-decoration: underline">orders@adamsbook.com</a></li>
				</ul>
				<span class="clearfix"></span>
			</div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
					<span id="open-search" class="glyphicon glyphicon-menu-hamburger text-center"></span>
				</div>
				<div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
					<h1><a>Common Core Booklist</a></h1>
					<p class="hidden-sm hidden-xs">
						Enjoy this interactive guide of over 200 titles that align to Common Core standards. Sort by grade level or subject to create connections between courses. Click a title to get more information on how it might fit your curriculum.
					</p>
				</div>
			</div>
			
		</header>
		<div class="row" id="book_screen">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="">
				<div id="popup">
					<div id="popup_bkgd">
					</div>
					<div id="popup_book">
					</div>
				</div>
				<div id="container">
					<div id="columns" class="grid row">
					</div>
				</div>
			</div>
		  </div>
		</div>
	</div>

  	<nav id="jPanelMenu-menu">
		<div id="menu">
			<ul id="tags_list">
				<li id="grades" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h5>grades:</h5><br>
				</li>
				<li id="categories" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<h5>topics:</h5><br>
				</li>
			</ul>
		</div>
  	</nav>

  	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
	<script type="text/javascript" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>
</body>
</html>