<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="popup">
		<div id="popup_book">
		</div>
		<div id="popup_bkgd">
		</div>
	</div>
	<header>
		<h1><a>Common Core</a></h1>
		<div id="menu">
			<ul id="tags_list">
				<li id="grades">
					<h5>grades:</h5><br>
				</li>
				<li id="categories">
					<h5>categories:</h5><br>
				</li>
			</ul>
		</div>
		<div id="open_menu">
			show more
		</div>
	</header>
	
	<div id="container">
		
		<div id="columns">
		</div>
	</div>
</body>
</html>